@*@model User*@

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" dir="rtl">
    <h1>سامانه ثبت ساعت ورود و خروج</h1>
    <p class="lead">بهترین سامانه ی ثبت ورود و خروج کل کهکشان راه شیری.</p>
</div>

<div class="row">

    <div class="col-md-12" dir="rtl">
        @if (User.Identity.IsAuthenticated)
        {
            if (!User.IsInRole("Admin"))
            {
                <h3>
                    @Html.ActionLink("درخواست ها", "Index", "Requests")
                </h3>
            }
            else
            {
                <h3>
                    @Html.ActionLink("لیست درخواست ها", "AllRequests", "Requests")
                    <br />
                    <br />
                    @Html.ActionLink("لیست کاربران", "Index", "UsersAdmin")
                </h3>

            }
        }
        else
        {
            <h3>شما هنوز به حساب کاربری خود وارد نشده اید!</h3>
        }
    </div>
</div>